table,
.filter-form {
  width: 90%;
  margin: 0 auto;
}

.user-data{
  color: #ffff;
  background:#000000;
  padding: 2rem 0;
  h1{
    font-size: 2rem;
    text-align: center;
  }
}

.submit-dates-button{
  background: #000000;
  color: #ffff;
  margin: 0 2rem;
}
